.big{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 35%;
    align-items: center;
    text-align: center;
}

.container{
    text-align: center ;
    margin-top: 130px;
    background-color: bisque;
    display: inline-block;
    border: 2px solid burlywood;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.card{
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}

h1{
    margin-top: px;
    background-color: brown;
    color: white;
    display: inline;
    padding: 5px;
    border-radius: 20px;
}

button{
    margin-top: 10px;
    color: aliceblue;
    background-color: burlywood;
    border-radius: 15px;
}